<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title> {{page_name}} | Mar.kt </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{% static 'homepage/img/favicon.png' %}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Voltaire" rel="stylesheet">

    <!-- Theme css -->
    <link href="{% static 'homepage/css/theme.css' %}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{% static 'homepage/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/css/login.css' %}" rel="stylesheet">


    <!-- Bootstrap css -->
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <link href="{% static 'homepage/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'homepage/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/lib/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/lib/modal-video/css/modal-video.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet">
</head>

<body>

<header id="header" class="header header-hide">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="{% url 'homepage:home' %}"><img class="logo-image" id="homepage-logo" src="{% static 'homepage/img/logo3.png' %}" alt="" title="homelogo" /></a>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">

                <li class="menu-active"><a href="{% url 'homepage:home' %}">Home</a></li>

                <li class="menu-active"><a href="{% url 'homepage:login' %}">Login</a></li>

            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!--==========================
  Hero Section
============================-->
<section id="hero" class="wow fadeIn">
    <div class="hero-container">

        <section class="signup">
            <div class="container" id="signup-box">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" required maxlength="50" required placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email"  pattern=".+@nitk.edu.in" required placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" required maxlength="20" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" required maxlength="20" placeholder="Repeat your password"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required/>
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree to the Terms of service</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'homepage/img/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'homepage:login' %}" class="signup-image-link">I am already a member</a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section><!-- #hero -->

<footer class="footer">
    <div class="container" id="footer-container">
        <div class="row">

            <div class="col-md-12 col-lg-4">
                <div class="footer-logo">

                    <a class="navbar-brand" href="#"><img src="{% static 'homepage/img/logo3.png' %}" class="logo-image" id="footer-logo"></a>
                    <p>A college sales portal<br>By students; For students</p>

                </div>
            </div>



            <div class="col-sm-6 col-md-3 col-lg-2">
                <div class="list-menu">

                    <h4>Support</h4>

                    <ul class="list-unstyled">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="copyrights">
        <div class="container">
            <p>&copy; Copyrights Mark.kt. All rights reserved.</p>
        </div>
    </div>

</footer>



<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!--Custom JS and JQuery-->
<script src="{% static 'homepage/jquery/jquery.min.js' %} "></script>
<script src="{% static 'homepage/js/login.js' %}"></script>

<!-- JavaScript Libraries -->
<script src="{% static 'homepage/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'homepage/lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'homepage/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'homepage/lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'homepage/lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'homepage/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'homepage/lib/modal-video/js/modal-video.js' %}"></script>
<script src="{% static 'homepage/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'homepage/lib/wow/wow.min.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'homepage/js/main.js' %}"></script>

</body>
</html>
