
#homepage-logo
{
    height:30px;
}

#hero-image{
    margin-top:250px;
}

#footer-logo{
    height:40px;
}

#about-img{
    width:400px;
}

#homepage-hero{
    height:450px;
    border-radius: 20px;
}