.product_img{
    height:300px;
    width:300px;
}

p.description_custom{
    font-size:15px;
    color:grey;
}

p.title_custom{
    font-size:25px;
}

p.category_custom{
    font-size:12px;
}

button#mod-list,#img-submit{
    border:1px;
    font-size:15px;
    padding:5px;
    margin-left:10px;
    background-color: #00ad47;
    margin-top:0px;
    float:right;
}

button#del-list{
    border:1px;
    font-size:15px;
    padding:5px;
    margin-left:10px;
    background-color: #f71111;
    margin-top:0px;
    float:right;
}